<footer class="bg-dark py-5">
	<div class="container">
		<div class="row">
			{% for block in section.blocks %}
				{% if block.type == "text_block" %}
					<div class="col-6">
						<h2 class="text-white">{{ block.settings.title_heading }}</h2>
						<p class="text-white">{{ block.settings.content_text }}</p>
					</div>
					{% endif %}
				{% if block.type == "footer_menu" %}
					<div class="col-3">
						<h3 class="text-white">{{ block.settings.heading }}</h3>
						{% if block.settings.menu.links.size > 0 %}
							<ul class="footer-menu">
								{% for link in block.settings.menu.links %}
									<li><a class="text-white" href="{{ link.url }}">{{ link.title }}</a></li>
								{% endfor %}
							</ul>
						{% endif %}
					</div>
				{% endif %}
				{% if block.type == "footer_image" %}
					<div class="col-6">
						<div class="footer-image featured-image bg-light object-fit-cover" style="max-width: 200px;">
							{% if block.settings.image == blank %}
								{{ "image" | placeholder_svg_tag }}
							{% else %}
								{{  block.settings.image | img_url: "master" | img_tag: " ", "w-100" }}	
							{% endif %}
						</div>
					</div>	
				{% endif %}
			{% endfor %}
		</div>
	</div>
</footer>

<!-- Modal -->
<div class="modal fade" id="productModal" tabindex="-1" aria-labelledby="productModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="productModalLabel">Modal title</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-12 col-md-4"><img id="product_thumbnail_modal" class="w-100" src="https://unsplash.com/photos/IPSB5Jcft-A/download?ixid=MnwxMjA3fDB8MXxhbGx8OXx8fHx8fDJ8fDE2NDE0ODg0NDU&force=true&w=1920" alt=""></div>
					<div class="col-12 col-md-8">
						<h3 class="fw-bold">800.00 GTQ</h3>
						<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro assumenda maxime dignissimos ipsum exercitationem debitis, deleniti accusantium sed pariatur accusamus nam sequi ullam vitae incidunt? Iste nobis repudiandae quis maiores.</p>
						
						<div class="row pb-4 pt-4">
							<div class="col" id="options-content">
								<select class="form-select" id="select_variant"></select>
							</div>
							<div class="col">
								<div class="input-group" style="max-width: 150px;">
									<button type="button" class="btn btn-secondary form-control btn-decrease">-</button>
									<input style="height: 40px;" type="text" id="quantity" value="1" class="form-control input-group-text quantity">
									<button type="button" class="btn btn-secondary form-control btn-increase">+</button>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" id="button_add_to_cart">Add To Cart</button>
			</div>	
		</div>
	</div>
</div>

<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
	<symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
	  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
	</symbol>
	<symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
	  <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
	</symbol>
	<symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
	  <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
	</symbol>
  </svg>
  
<div class="alert alert-success d-flex align-items-center" role="alert">
	<svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
	<div>An example success alert with an icon </div>
</div>


{% schema %}
{
	"name": "Footer Page",
	"blocks": [
		{
			"name": "Footer Menu",
			"type": "footer_menu",
			"settings": [
				{
					"type": "text",
					"id": "heading",
					"label": "Heading",
					"default": "Menu Title"
				}, 
				{
					"type": "link_list",
					"id": "menu",
					"label": "Menu",
					"default": "main-menu"
				}
			]
		},
		{
            "name": "Footer Image",
            "type": "footer_image",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                }
            ]
        },
		{
			"name": "Text Block",
			"type": "text_block",
			"settings": [
				{
					"type": "text",
					"id": "title_heading",
					"label": "Heading",
					"default": "Heading Text"
				}, 
				{
					"type": "textarea",
					"id": "content_text",
					"label": "Content",
					"default": "<p>This is an example for this content.</p>"
				}
			]
		}
	]
}
{% endschema %}