<header>
	<div class="container">
		<div class="d-flex flex-wrap align-items-center justify-content-between">
			<nav class="navbar navbar-expand-lg navbar-light">
				<a class="navbar-brand" href="#">Brand</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main_nav"  aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="main_nav">
					<ul class="navbar-nav">
						{% for link in linklists.main-menu.links %}
							<li class="nav-item {% if link.links.size > 0 %} dropdown {% endif %}">
								<a class="nav-link {% if link.links.size > 0 %} dropdown-toggle {% endif %}" href="{{ link.url }}" {% if link.links.size > 0 %} data-bs-toggle="dropdown" {% endif %}>{{ link.title }}</a>
								{% if link.links.size > 0 %}
									<ul class=" dropdown-menu">
										{% for link_child in link.links %}
											<li class="nav-item"><a class="dropdown-item {% if link_child.links.size > 0 %} dropdown-toggle {% endif %}" href="{{ link_child.url }}">{{ link_child.title }}</a>
												{% if link_child.links.size > 0 %}
													<ul class="submenu dropdown-menu">
														{% for item in link_child.links %}
															<li><a class="dropdown-item" href="{{ item.url }}">{{ item.title }}</a></li>
														{% endfor %}
													</ul>
												{% endif %}
											</li>
										{% endfor %}
									</ul>
								{% endif %}
							</li>
						{% endfor %}
					</ul>
				</div>
			</nav>
			<form action="{{ routes.search_url }}" class="d-flex ms-auto">
				<input type="search" class="form-control me-2" name="q" value="{{ search.terms | escape }}" placeholder="Search" aria-label="Search">
				<button type="submit" class="btn btn-outline-primary">Search</button>
			</form>
			<div class="icons ms-2">
				{% if shop.customer_accounts_enabled %}
					{% if customer %}
						<a class="text-darck" href="{{ routes.account_url }}">Account</a>
					{% else %}
						<a class="text-darck" href="{{ routes.account_login_url }}">Login</a>
						<span>Or</span>
						<a class="text-darck" href="{{ routes.account_register_url }}">Create An Account</a>
					{% endif %}
				{% endif %}
			</div>
		</div>
	</div>
</header>

{% javascript %}
	document.addEventListener("DOMContentLoaded", function(){
		// make it as accordion for smaller screens
		if (window.innerWidth < 992) {
			// close all inner dropdowns when parent is closed
			document.querySelectorAll('.navbar .dropdown').forEach(function(everydropdown){
				everydropdown.addEventListener('hidden.bs.dropdown', function () {
				// after dropdown is hidden, then find all submenus
					this.querySelectorAll('.submenu').forEach(function(everysubmenu){
					// hide every submenu as well
					everysubmenu.style.display = 'none';
					});
				})
			});
			
			document.querySelectorAll('.dropdown-menu a').forEach(function(element){
				element.addEventListener('click', function (e) {
					let nextEl = this.nextElementSibling;
					if(nextEl && nextEl.classList.contains('submenu')) {	
					// prevent opening link if link needs to open dropdown
					e.preventDefault();
					if(nextEl.style.display == 'block'){
						nextEl.style.display = 'none';
					} else {
						nextEl.style.display = 'block';
					}
			
					}
				});
			})
		}
		// end if innerWidth
	}); 
{% endjavascript %}

<style>
	/* ============ desktop view ============ */
	@media all and (min-width: 992px) {
		.dropdown-menu li{ position: relative; 	}
		.nav-item .submenu{ 
			display: none;
			position: absolute;
			left:100%; top:-7px;
		}
		.nav-item .submenu-left{ right:100%; left:auto; }
		.dropdown-menu > li:hover{ background-color: #f1f1f1 }
		.dropdown-menu > li:hover > .submenu{ display: block; }
	}	
	/* ============ desktop view .end// ============ */

	/* ============ small devices ============ */
	@media (max-width: 991px) {
		.dropdown-menu .dropdown-menu{
			margin-left:0.7rem;
			margin-right:0.7rem;
			margin-bottom: .5rem;
		}
	}	
	/* ============ small devices .end// ============ */

</style>